<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
                input {
                    margin: 4px;
                }
            </style>
</head>
<body>

    <h1>Teste</h1>
        <div id="app">
            <p>{{ paciente }}</p>
            <!-- <input type="text" v-bind:value="paciente" v-on:keyup="setPaciente($event)"> -->
            <input type="text" v-model="paciente">
            <hr>
            <input type="radio" value="F" v-model="sexo">Feminino
            <input type="radio" value="M" v-model="sexo">Masculino
            <p>{{ sexo }}</p>
            <hr>
            <select v-model="plano">
                <option value="" disabled>Escolha seu plano</option>
                <option value="1">Básico</option>
                <option value="2">Premium</option>
                <option value="3">Master</option>
            </select> <br>
            <span><strong>plano escolhido: </strong>{{ plano }} </span>
            <hr>
            <input type="checkbox" value="101" v-model="doencas"> Gripe
            <input type="checkbox" value="102" v-model="doencas"> Amigdalite
            <input type="checkbox" value="103" v-model="doencas"> Conjutivite
            <br><strong>Doenças:</strong> {{ doencas }}
            <hr>
            <textarea rows="3" v-model="diagnostico" cols="40"></textarea> <br>
            <strong>Diagnóstico: </strong> {{ diagnostico }}
        </div> 


    <script src="./vue.js"></script>
    <script>

        options = {
            el: '#app',
            data: {
                paciente: 'Fulano de tal',
                sexo: '',
                plano: '',
                doencas: [],
                diagnostico: ''
            },
            methods: {
                setPaciente(e) {
                    this.paciente = e.target.value
                }
            },
            computed: {
               
            }
        }

        const vm = new Vue(options) //vm = VueModel
    </script>
</body>
</html>